#运行定义文件，定义了三个服务：Nginx 反向代理、Go 应用和 MySQL 数据库。
services:
  # Nginx 反向代理
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - qpp
    networks:
      - wish-network

  # Go 应用
  qpp:
    build: .
    ports:   
       - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - wish-network

  # 数据库
  db:
    image: mysql:8.0
    restart: unless-stopped
    ports:
      - "3307:3306"
    env_file:
      - .env
    networks:
      - wish-network
    volumes:
      - db_data:/var/lib/mysql

networks:
  wish-network:
    driver: bridge

volumes:
  db_data:
    driver: local




