
services:
  # Nginx 反向代理
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - qpp
    networks:
      - wish-network

  # Go 应用（qpp）
  qpp:
    build: .
    # 如果你希望 qpp 对外暴露端口，可以取消下面注释
    # ports:
    #   - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - wish-network

  # 数据库服务（MySQL）
  db:
    image: mysql:8.0
    restart: unless-stopped
    ports:
      - "3307:3306"
    env_file:
      - .env
    networks:
      - wish-network
    volumes:
      - db_data:/var/lib/mysql

networks:
  wish-network:
    driver: bridge

volumes:
  db_data:
    driver: local




